@import "tailwindcss";

html, body {
  @apply p-0 scrollbar-gutter-stable;
}
html, body, #root {
  @apply min-h-screen m-0 bg-sky-950 w-full;
}
#root {
  @apply p-5;
}

.countBar.done {
    &::after {
    position: absolute;
    content: "";
    top: calc(-1 * 1px);
    left: calc(-1 * 1px);
    width: calc(100% + 1px * 2);
    height: calc(100% + 1px * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
}

@theme {
  --color-hcblue: #2a3cad;

    @keyframes moveGradient {
      50% {
        background-position: 100% 50%;
      }
    }
}